ul{
    li {
        display: inline-block;
        background-color: #264e57;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 400;
        line-height: 22px;
        margin: 5px auto;
        margin-right: 15px;
        -webkit-box-shadow: 5px 3px 5px 1px #ccc;
        -moz-box-shadow: 5px 3px 5px 1px #ccc;
        box-shadow: 5px 3px 5px 1px #ccc;
    }
}