<h2>Education</h2>
<h4 class="education">BS | 2016 | SIR SYED UNIVERSITY OF ENGINEERING AND TECHNOLOGY</h4>
<p class="course"><i class="fa fa-circle-o" aria-hidden="true"></i>Related Course: Computer Science</p>
<h4 class="education">INTERMEDIATE | 2011 | GOV. DEGREE COLLEGE SRE MAJEED</h4>
<p class="course"><i class="fa fa-circle-o" aria-hidden="true"></i>Related Course: Pre-Engineering</p>
<h4 class="education">MATRICULATION | 2009 | SHADMAN ACADEMY</h4>
<p class="course"><i class="fa fa-circle-o" aria-hidden="true"></i>Related Course: Computer Science</p>
